.WHITE-theme {
	color-scheme: light;

	--primary-text: #000;
	--primary-bg: #FFF;
	--black: #FFF;

	--message-bg-hover: #d2d2df;
	--typing-bg: #dad8d8;
	--profile-bg: #afabc5;
	--timestamp-color: #a2a2a2;
	--code-bg: #cbcbcc;
	--info-bg: #b0b0c5;
	--user-info-bg: #b0abc2;
	--user-dock-bg: #b2b2c4;
	--channels-bg: #c2c2d1;
	--channel-hover: #b8b5cc;
	--blank-bg: #ceccdd;
	--light-border: #929292;
	--settings-hover: #b5b1bb;
	--quote-bg: #7a798e;
	--button-bg: #b7b7cc;
	--textarea-bg: #b1b6ce;
	--filename: #47bbff;
	--mention-bg: #F00;
	--pronouns: #202020;

	--server-border: #aaaac4;
	--server-hover: #b5b5ce;

	--reply-border: #474b76;
	--reply-bg: #d4d6e9;
	--reply-text: #38383d;

	--spoiler-hover: #b9b9b9;
	--spoiler-open-bg: #dadada;

	--unknown-file-bg: #bdbdbd;
	--unknown-file-border: #adadad;

	--login-border: #c3c0e0;
	--loading-bg: #b5b7cc;

	--dialog-bg: #c1c8d6;
	--dialog-border: #b9b7db;

	--scrollbar-track: #d2cedf;
	--scrollbar-thumb: #bdbcca;
	--scrollbar-thumb-hover: #a7a7be;
}
.Light-theme {
	color-scheme: light;

	--primary-text: #000;
	--primary-bg: #8e90c3;
	--black: #fff;

	--message-bg-hover: #5757b5;
	--typing-bg: #000000;
	--profile-bg: #8075bf;
	--timestamp-color: #000000;
	--code-bg: #a89adf;
	--info-bg: #6060a3;
	--user-info-bg: #796f9a;
	--user-dock-bg: #83839d;
	--channels-bg: #c2c2d1;
	--channel-hover: #726e88;
	--blank-bg: #5e50c5;
	--light-border: #000000;
	--settings-hover: #b5b1bb;
	--quote-bg: #7a798e;
	--button-bg: #96969e;
	--textarea-bg: #abb1cd;
	--filename: #47bbff;
	--mention-bg: #F00;
	--pronouns: #202020;

	--server-border: #aaaac4;
	--server-hover: #7f7fa8;

	--reply-border: #474b76;
	--reply-bg: #d4d6e9;
	--reply-text: #38383d;

	--spoiler-hover: #34333a;
	--spoiler-open-bg: #767587;

	--unknown-file-bg: #bdbdbd;
	--unknown-file-border: #adadad;

	--login-border: #c3c0e0;
	--loading-bg: #b5b7cc;

	--dialog-bg: #c1c8d6;
	--dialog-border: #b9b7db;

	--scrollbar-track: #d2cedf;
	--scrollbar-thumb: #bdbcca;
	--scrollbar-thumb-hover: #a7a7be;
}
