/* Adobe acumin-pro:
- http://typekit.com/eulas/00000000000000003b9acafc
- http://typekit.com/eulas/00000000000000003b9acafd
- http://typekit.com/eulas/00000000000000003b9acaf7
- http://typekit.com/eulas/00000000000000003b9acaf6
*/
@font-face {
	font-family: "acumin-pro";
	src: url("./font/bold.woff2") format("woff2"), url("./font/bold.woff") format("woff"), url("./font/bold.ttf") format("opentype");
	font-display: fallback;
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "acumin-pro";
	src: url("./font/italic-bold.woff2") format("woff2"), url("./font/italic-bold.woff") format("woff"), url("./font/italic-bold.ttf") format("opentype");
	font-display: fallback;
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: "acumin-pro";
	src: url("./font/italic.woff2") format("woff2"), url("./font/italic.woff") format("woff"), url("./font/italic.ttf") format("opentype");
	font-display: fallback;
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: "acumin-pro";
	src: url("./font/regular.woff2") format("woff2"), url("./font/regular.woff") format("woff"), url("./font/regular.ttf") format("opentype");
	font-display: fallback;
	font-style: normal;
	font-weight: 400;
}

.dark-theme {
	color-scheme: dark;

	--primary-text: #FFF;
	--primary-bg: #282832;
	--black: #000;
	--shadow: #000;

	--red: red;
	--green: green;
	--focus: #8888ff;

	--message-bg-hover: #1e1e28;
	--typing-bg: #161616;
	--timestamp-color: #a2a2a2;
	--code-bg: #101014;
	--user-info-bg: #323039;
	--user-dock-bg: #1a1a23;
	--blank-bg: #1b1b1b;
	--light-border: #929292;
	--settings-hover: #0e0d10;
	--quote-bg: #7a798e;
	--textarea-bg: #424244;
	--filename: #47bbff;
	--notify-bg: #fc7537;
	--pronouns: #797979;
	--error-color: #ff4949;
	--embed: #1a1823;
	--link: #8888ff;
	--embed-fallback: #6b717c;

	--button-bg: #1b1b28;
	--button-hover: #282832;

	--channels-bg: #2f2f36;
	--channel-hover: #3e3e47;
	--channel-active: #4e4e55;

	--profile-bg: #2e2d33;
	--profile-info-bg: #1a1a1e;

	--mention-color: #b7c5db;
	--mention-bg: #4f60be;

	--server-border: #1b1b24;
	--server-bg: #252530;
	--discovery-bg: #37373b;

	--reply-border: #585a68;
	--reply-bg: #0b0d20;
	--reply-text: #acacac;

	--spoiler-hover: #111111;
	--spoiler-closed: #1e1e1e;
	--spoiler-open-bg: #424242;
	--timestamp-bg: #2f2f33;

	--unknown-file-bg: #141316;
	--unknown-file-border: #474555;

	--login-border: #131315;
	--loading-bg: #22232c;

	--dialog-bg: #33363d;
	--dialog-border: #1c1b31;

	--scrollbar-track: #34313c;
	--scrollbar-thumb: #201f29;
}


.light-theme {
	color-scheme: light;

	--primary-text: #000;
	--primary-bg: #FFF;
	--black: #FFF;
	--shadow: #777;

	--red: #dd6c6c;
	--green: #639d63;
	--focus: #47bbff;

	--message-bg-hover: #dedee2;
	--typing-bg: #dad8d8;
	--timestamp-color: #5d5d66;
	--code-bg: #cbcbcc;
	--user-info-bg: #b3b1c2;
	--user-dock-bg: #bdbdc9;
	--blank-bg: #ceccdd;
	--light-border: #98979e;
	--settings-hover: #b5b1bb;
	--quote-bg: #9595a3;
	--textarea-bg: #b4b7c7;
	--filename: #47bbff;
	--notify-bg: #ff170f;
	--pronouns: #6a6a6d;
	--error-color: #d40404;
	--embed: #f2f3f5;
	--link: #3333ee;
	--embed-fallback: #6b717c;

	--button-bg: #b7b7c7;
	--button-hover: #FFF;

	--channels-bg: #d6d6db;
	--channel-hover: #c2c2cc;
	--channel-active: #b1afbd;

	--profile-bg: #ccccd3;
	--profile-info-bg: #bdbdc9;

	--mention-color: #4351d1;
	--mention-bg: #ccd2f3;

	--server-border: #c2c2ce;
	--server-bg: #bfbfcf;
	--discovery-bg: #c8c8d4;

	--reply-border: #b1b2bd;
	--reply-bg: #d1d3e4;
	--reply-text: #2e2e30;

	--spoiler-hover: #b9b9b9;
	--spoiler-closed: #c4c4c4;
	--spoiler-open-bg: #c2c2c2;
	--timestamp-bg: #dadae2;

	--unknown-file-bg: #bdbdbd;
	--unknown-file-border: #adadad;

	--login-border: #bebccf;
	--loading-bg: #b1b3c2;

	--dialog-bg: #bec2d1;
	--dialog-border: #bbbad1;

	--scrollbar-track: #dddddf;
	--scrollbar-thumb: #a9a9af;
}

body {
	font-family: "acumin-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	background-color: var(--primary-bg);
	color: var(--primary-text);
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
}

.imgfit {
	max-width: 80vw;
	max-height: 80dvh;
	width: auto;
	height: auto;
}

.collapse {
	overflow: hidden;
	width: 0 !important;
	max-width: 0 !important;
}

dialog {
	max-width: 90%;
}

dialog .close {
	color: #AAA;
	float: right;
	font-size: 28px;
	font-weight: 700;
	transition: .2s;
	cursor: pointer;
}
dialog .close:hover, dialog .close:focus {
	color: #000;
}

th {
	font-weight: 400;
	padding: 0;
}

.messagediv{
	overflow: hidden;
	max-width:100%;
	/* width: 9%; */
	/* display: inline-block; */
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	max-height: 20in;
	padding: .05in .2in .05in .1in;
	padding-top: 0;
	padding-bottom: 0.1in;
	flex-shrink: 0;
	width: 100%;
	box-sizing: border-box;
}
.messagediv:hover, .messagediv:focus {
	background-color: var(--message-bg-hover);
}

.topMessage{
	padding-top:.03in;
	margin-top:.1in;
	padding-bottom: .1in;
}

pre {
	background-color: var(--code-bg);
	color: var(--code-text);
	width: 100vw;
	max-width: max-content;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	white-space: pre-wrap;
}

code {
	background-color: var(--code-bg);
	color: var(--code-text);
	font-size: 16px;
}

.contextbutton {
	transition: background-color .1s ease-in-out;
	background-color: var(--channels-hover);
	color: var(--primary-text);
	font-weight: bold;
	width: 5cm;
	height: .8cm;
	text-align: left;
	font-size: .5cm;
	cursor: pointer;
	border-width: 0 0 .03in;
	margin: .02in .05in;
}
.contextbutton:hover, .contextbutton:focus {
	background-color: var(--primary-bg);
}
.contextbutton:active {
	border-width: 0;
}

.contextbutton:disabled {
	cursor: not-allowed;
	border-width: 0;
}
.contextbutton:disabled:hover, .contextbutton:disabled:focus {
	background-color: var(--channels-bg);
}

.infosection {
	display: inline-block;
	background-color: var(--profile-info-bg);
	border-radius: 10%;
	padding: .3cm;
	width: 100%;
	height: calc(100% - .5in - .2cm);
	margin-top: .1cm;
	box-sizing: border-box;
}

h1,
h2,
h3 {
	margin: 0;
	display: inline-block;
}

h2 {
	font-size: 19px;
}
.h2md {
	font-size: .25in;
}

small.subtext {
	font-size: 13px;
}

.pfp, #userpfp {
	border-radius: 50%;
	user-select: none;
	cursor: pointer;
}
.pfp {
	width: 48px;
	height: 48px;
}

.servericon {
	transition: border-radius .2s;
	margin: 4px;
}
.servericon:hover, .servericon:focus {
	border-radius: 30%;
}

.contextmenu {
	position: absolute;
	background-color: var(--profile-info-bg);
	border-radius: .05in;
	z-index: 5;
}

#neunence {
	vertical-align: top;
	overflow: auto;
	flex-shrink: 0;
}

#servers {
	vertical-align: top;
	height: 100dvh;
	overflow-x: hidden;
}

#servers::-webkit-scrollbar {
	display: none;
}

.blankserver {
	border-radius: 50%;
	width: .5in;
	height: .5in;
	background-color: var(--blank-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

img {
	vertical-align: middle;
	max-width: 5in;
	max-height: 5in;
}

#page {
	height: 100%;
	width: 100%;
}

.message {
	width: 100%;
	flex-wrap: nowrap !important;
	overflow: auto !important;
}

.pfprow {
	width: .5in;
	flex-shrink: 0;
}

.commentrow {
	width: 100%;
	height: 100%;
	vertical-align: top;
	word-wrap: break-word;
	text-align: left;
	font-weight: normal;
}

.messagecontainer {
	overflow-x: clip;
	overflow-y: hidden;
	max-width: 100%;
	width: 100%;
	display: flex;
	flex-shrink: 1;
}

#messages {
	width: 100%;
	max-width: 100%;
}

p {
	margin: 0;
	padding: 0;
	transition: background-color .1s ease-in-out, color .1s ease-in-out;
}

#channels {
	--top-height: 37px;
	background-color: var(--channels-bg);
	position: absolute;
	top: var(--top-height);
	height: calc(100dvh - 54px - var(--top-height));
	width: 2.5in;
	overflow-y: auto; /* Allows vertical scrolling */
	overflow-x: hidden; /* Prevents horizontal overflow */
	user-select: none;
  }

#channels-td {
	padding-right: 245px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
	flex-shrink: 1;
}

#channels p {
	text-indent: 10px;
}

.space {
	margin-right: 0.06in;
	font-size: .25in;
	display: inline-block;
	text-indent: .05in;
}

.spacee {
	font-size: .15in;
}

.indent {
	text-indent: .15in;
}

.viewChannel {
	font-weight: bold;
	background-color: var(--channel-active);
}

input {
	background-color: var(--message-bg-hover);
	color: var(--primary-text);
	padding: 8px 3px;
	width: 97.5%;
	border-color: var(--settings-hover);
	border-width: 0 0 .04in 0;
	border-radius: .05in;
}

div {
	transition: background-color .1s ease-in-out;
}

#typebox {
	padding: 3px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: .15cm;
	width: 99%;
	min-height: .5in;
	z-index: -100;
	display: flex;
	max-height: 1.5in;
	overflow-y: auto;
	color: var(--primary-text);
	background: var(--profile-info-bg);
	border: 0px solid;
	box-sizing: border-box;
}

/* Conditionally remove border radius from the top when hidereplybox is not present */
#replybox:not(.hideReplyBox) ~ #typediv #typebox {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.accent {
	color: var(--link);
}

hr {
	border-style: solid;
	border-width: .01in;
	border-color: var(--primary-text);
}

.username {
	width: fit-content;
	cursor: pointer;
	font-weight: bold;
	word-break: normal;
}
.username:hover, .username:focus {
	text-decoration: underline;
}

.spoiler {
	background-color: var(--spoiler-closed);
	color: var(--spoiler-closed);
	border-radius: 3px;
	cursor: pointer;
}
.spoiler:hover, .spoiler:focus {
	background-color: var(--spoiler-hover);
	color: var(--spoiler-hover);
}

.unspoiled {
	background-color: var(--spoiler-open-bg);
	color: var(--primary-text);
	border-radius: 3px;
	cursor: auto;
}

.md-timestamp {
	background-color: var(--timestamp-bg);
	border-radius: 3px;
}
.md-mention {
	background-color: var(--mention-bg);
	color: var(--mention-color);
	cursor: pointer;
	border-radius: 3px;
}

.replying {
	background-color: var(--reply-bg);
}

#typing {
	display: flex;
	position: absolute;
	bottom: 23px;
	right: 12px;
	background-color: var(--typing-bg);
	width: fit-content;
	transform: translateY(-100%);
	border-radius: 5px 5px 0 0;
	padding: 4px;
	transition: transform .5s ease, opacity .1s ease;
	opacity: 1;
	z-index: -1;
}

#typediv {
	margin-top: 6px;
	width: 99%;
	z-index: 2;
}

.loading-indicator {
	font-size: 24px;
	display: flex;
	gap: 0;
}

.dot {
	animation: fade 1s infinite;
	line-height: 14px;
}

.dot:nth-child(1) {
	animation-delay: 0s;
}

.dot:nth-child(2) {
	animation-delay: .33s;
}

.dot:nth-child(3) {
	animation-delay: .66s;
}

#typing p {
	margin: 0;
	padding-right: 5px;
}

#typing.hidden {
	transform: translateY(0%);
	/* Move down out of view */
	opacity: 0;
	/* Fade out */
}

@keyframes fade {
	0%,
	100% {
		opacity: .2;
	}

	50% {
		opacity: 1;
	}
}

.lightbr {
	border-color: var(--light-border);
	color: var(--black);
	background-color: var(--black);
	width: 80%;
}

.home {
	border-radius: 50%;
	width: .5in;
	height: .5in;
	background-color: var(--blank-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 200%;
	user-select: none;
	cursor: pointer;
}

#channelw {
	width: 100%;
	display: flex;
	max-width: 100%;
	flex-direction: column;
	flex-shrink: 1;
	min-height: 0;
	height: 100%;
}

.timestamp {
	color: var(--timestamp-color);
	margin-left: 4px;
	font-size: 12.5px;
}

.replyflex {
	display: flex;
	align-items: center;
	color: var(--reply-text); /* for date line */
	font-size: .9rem;
}

.reply {
	display: inline-block;
	vertical-align: middle;
	flex-grow: 1;
	border-color: var(--reply-border);
}

.startreply {
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	margin-left: 20px;
	border-color: var(--reply-border);
}

.replypfp {
	border-radius: 50%;
	width: .2in;
	height: 2.in;
	padding: .05in;
	user-select: none;
	cursor: pointer;
}

.replytext {
	padding: 0 .05in;
	color: var(--reply-text);
	font-size: 15px;
}

.replytext pre {
	color: var(--reply-text);
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: fit-content;
	flex: 1 1 auto;
	min-width: 0;
	width: 25vw;
	grid-column: 2;
	display: inline-block !important;
}

::-webkit-scrollbar {
	width: .1in;
	height: .1in;
}

::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb);
	border-radius: .08in;
	border: .03in solid transparent;
	background-clip: padding-box;
	transition: .1s;
}

.pronouns {
	color: var(--pronouns);
	font-size: .15in;
}

textarea {
	font-family: "acumin-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: var(--textarea-bg);
	color: var(--primary-text);
	width: 3.5in;
	resize: none;
	height: 1.5in;
	border-radius: 3px;
}

.channels {
	overflow: auto;
	transition: height .2s ease-in-out;
	user-select: none;
	cursor: pointer;
}

.channel {
	user-select: none;
	cursor: pointer;
	transition: font-weight .1s;
	height: 30px;
	display: flex;
	align-items: center;
}
.channel:hover, .channel:focus {
	background-color: var(--channel-hover);
}

#servername, #channelname {
	padding-left: 5px;
	text-overflow: ellipsis;
	overflow-x: hidden;
	white-space: nowrap;
	max-width: 220px;
	font-size: 18px;
}

.servertd {
	background-color: var(--server-bg);
	border-color: var(--server-border);
	border-width: .1cm;
	border-style: solid;
	height: 34px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
}

.channeleffects {
	cursor: pointer;
	user-select: none;
	flex-direction: row;
	align-self: stretch;
	width: 100%;
	color: var(--link);
}
.channeleffects:hover, .channeleffects:focus {
	background-color: var(--channel-hover);
}

.dm-container {
	display: flex;
	flex-direction: column;
}
.dm-container .pfp {
	padding: 5px;
	width: 32px;
	height: 32px;
}

.messageimg {
	cursor: pointer;
	user-select: none;
	max-width: 4in;
	max-height: unset;
}

.tag {
	font-size: .13in;
	font-weight: 500;
	color: var(--primary-text);
	display: block;
}

#userdock {
	background-color: var(--user-dock-bg);
	position: relative;
	justify-content: center;
	align-items: center;
	padding: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	width: 100%;
	gap: .1in;
}

#user-actions {
    display: flex;
    flex-wrap: wrap;
    margin-left: .001in; /* Space from userinfo */
    gap: .05in; /* Space between actions */
}

#user-actions h2 {
    cursor: pointer;
    user-select: none;
    border-radius: .3in;
    transition: color .5s;
    text-align: center;
    overflow: visible;
    width: .2in; /* Adjust size as needed */
    height: .2in; /* Adjust size as needed */
    padding: .02in; /* Adjust padding as needed */
    margin: 0; /* Remove default margins */
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-actions h2:hover, #user-actions h2:focus {
    background: var(--settings-hover);
    color: var(--timestamp-color);
}

#user-actions img {
    width: 100%;
    height: auto;
}

#userinfo {
	position: relative;
	background-color: var(--user-info-bg);
	border-radius: .1in;
	cursor: pointer;
	flex-shrink: 0;
	padding: .03in;
}

#username {
	font-weight: 600;
}

.servernamediv {
	width: 100%;
	max-width: 100%;
}

button, input::file-selector-button {
	transition: background-color .1s ease-in-out;
	background-color: var(--message-bg-hover);
	border-color: var(--settings-hover);
	color: var(--primary-text);
	font-weight: bold;
	text-align: left;
	font-size: .45cm;
	cursor: pointer;
	border-width: 0 0 .03in 0;
	border-radius: .03in;
	margin: .02in .05in;
	box-shadow: 0 0 .03in var(--black);
}
button:active {
	border-width: 0;
}
button:disabled {
	cursor: not-allowed;
	border-width: 0;
}
button:disabled:hover, button:disabled:focus {
	background-color: var(--message-bg-hover);
	color: var(--primary-text);
}
button:hover, button:focus {
	background-color: var(--primary-bg);
}

input[type="file"] {
	background-color: transparent;
}
select {
	transition: background-color .1s ease-in-out;
	background-color: var(--message-bg-hover);
	color: var(--primary-text);
	font-weight: bold;
	text-align: left;
	font-size: .45cm;
	cursor: pointer;
	border-width: 0 0 .03in 0;
	border-radius: .03in;
	margin: .02in .05in;
	border-color: var(--timestamp-color);
	box-shadow: 0 0 .03in var(--black);
}

#logindiv {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--dialog-bg);
	min-width: max(min(70%, calc(50% + .5in)), min(3in, 100%));
	min-height: 70%;
	border-radius: .1in;
	border-style: solid;
	border-color: var(--login-border);
	text-align: center;
}

#logindiv input {
	width: 90%;
	border-radius: .1in;
}

.adddiv {
	display: inline-block;
	height: 0;
	align-self: stretch;
}

.addchannel {
	align-self: end;
	margin-left: auto;
	width: .2in;
	text-align: center;
	transition: background-color .2s;
	border-radius: .1in;
	cursor: pointer;
	user-select: none;
}
.addchannel:hover, .addchannel:focus {
	background-color: var(--black);
}

.flex {
	display: flex;
}

.radio {
	width: .15in;
	height: .15in;
}

input[type="checkbox"] {
	width: .15in;
	height: .15in;
	accent-color: var(--black);
	color: var(--black);
}

.dragdiv {
	height: .3in;
}

.quote {
	display: inline-block;
	position: relative;
}

.quoteline {
	width: 3px;
	height: 100%;
	position: absolute;
	background-color: var(--quote-bg);
	border-radius: 3px;
}

.quote > span {
	margin-left: .5em;
	display: flex;
	align-items: center;
}

span {
	word-wrap: break-word;
	word-break: break-word;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--loading-bg);
	z-index: 100;
	text-align: center;
	transition: transform .2s;
	vertical-align: middle;
}

#loading.doneloading {
	transform: translate(0%, -100%);
}

#centerdiv {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#centerdiv > h1, #centerdiv > h2 {
	display: block;
}

.unknownfile {
	background-color: var(--unknown-file-bg);
	border-style: solid;
	border-radius: .1in;
	border-color: var(--unknown-file-border);
	border-width: .03in;
	display: inline-block;
	border-collapse: collapse;
}

.fileicon {
	font-size: .4in;
	user-select: none;
}

.filename {
	color: var(--filename);
}

.unread {
	position: absolute;
	background-color: var(--primary-text);
	height: .075in;
	width: .075in;
	transition: transform .2s, background-color .2s, height .2s, width .2s;
	transform: translate(-.2in, .2in);
	z-index: 10;
	border-radius: 50%;
	border: solid;
	border-width: .02in;
	border-color: var(--black);
}

.notiunread {
	transform: translate(-5px, 23px);
}

.wrongred {
	color: var(--error-color);
}

.pinged {
	transform: translate(0, .35in);
	background-color: var(--notify-bg);
	height: .17in;
	width: .17in;
	text-align: center;
}

.cunread {
	box-shadow: inset .024in 0 var(--primary-text);
}

.serveropen .servericon {
	border-radius: 30%;
}
.serveropen .unread {
	transform: translate(-5px, 7px);
	height: 34px;
	border-radius: 30%;
}

.tabbed-head {
	background-color: var(--settings-hover);
}
.tabbed-content td {
	border-inline: medium solid var(--textarea-bg);
}
.tabbed-head td button {
	min-width: 1.5in;
}

.accountSwitcher {
	background-color: var(--profile-bg);
	display: inline-block;
	cursor: pointer;
	box-shadow: 0 -.5in 1in color-mix(in srgb, var(--shadow) 42%, transparent);
	width: 240px;
	z-index: 3;
	position: absolute;
	bottom: 60px;
	left: 56px;
}
.accountSwitcher tr {
	transition: background-color .3s;
	background-color: var(--profile-bg);
	cursor: pointer;
}
.accountSwitcher tr:hover, .accountSwitcher tr:focus {
	background-color: var(--profile-info-bg);
}

.switchtable tr {
	background-color: transparent;
}

.serverURL {
	color: var(--pronouns);
	word-wrap: normal;
	word-break: normal;
	white-space: nowrap;
	font-size: .125in;
}

#channelname {
	font-weight: bold;
	display: flex;
}

#mobileback {
	font-size: .3in;
	font-weight: bold;
	padding: .025in;
	background-color: #06003f96;
	width: .25in;
	height: .25in;
	text-align: center;
	margin-right: .1in;
	margin-left: .05in;
	border-radius: .05in;
	border: solid;
	border-color: var(--black);
	border-width: .04in;
}

.bot {
	background-color: #3d47cc;
	color: var(--black);
	padding: 0 3px 1px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 12px;
	margin-left: 5px;
}

.embedimg {
	cursor: pointer;
	user-select: none;
	max-width: 1in;
	max-height: .75in;
	border-radius: .03in;
}
.bigembedimg {
	max-width: 4in;
	max-height: 3in;
}

.embed-color {
	padding-left: .04in;
	border-radius: .07in;
	background-color: var(--black);
}
.embed {
	background-color: var(--embed);
	padding: .075in;
	border-radius: .05in;
	max-width: 4in;
	font-size: .15in;
}
.embedp {
	margin-bottom: .075in;
}
.embedicon {
	width: .25in;
	height: .25in;
	border-radius: .25in;
	margin-right: .1in;
}
.linkembed {
	max-width: 5in;
	border: solid;
	border-color: var(--settings-hover);
}
.embed .title {
	margin-bottom: .1in;
	display: block;
	text-decoration: none;
	font-size: .2in;
}
.provider {
	color: var(--timestamp-color);
	text-decoration: none;
}
.embedtitle {
	margin-bottom: 0 !important;
	padding-bottom: .05in;
	font-weight: bold;
}
.embed b {
	margin-right: .075in;
}
.inline {
	display: inline-block;
	margin-right: .1in;
}
.embed .username {
	color: var(--primary-text);
	font-size: .15in;
}
.spaceright {
	margin-right: 3px;
}

#replybox {
    display: flex;
    justify-content: space-between; /* Ensures space between the span and button */
    width: 98%;
    height: .3in;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--reply-bg);
    transition: height .2s, padding .2s;
    border-radius: .1in .1in 0 0;
    padding: 0 .05in;
    box-sizing: border-box;
    top: 6px;
    position: relative;
}

#replybox span {
    align-self: center;
}

.cancelReply {
    align-self: center; /* Center vertically in the replybox */
    color: #F00;
    height: auto;
    width: .25in;
    text-align: center;
    padding: 0;
    border: none;
    background: none; /* Ensure no background for the button */
}

#replybox.hideReplyBox {
    height: 0;
}
#replybox.hideReplyBox span, #replybox.hideReplyBox button {
    display: none;
}


#discovery-guild-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.discovery-guild {
	width: 220px;
	height: 175px;
	margin: 5px;
	padding: 5px;
	background-color: var(--discovery-bg);
	border-radius: 5px;
	box-shadow: 1px 1px 7px var(--primary-text);
	overflow: hidden;
	cursor: pointer;
}

.discovery-guild .flex {
	align-items: center;
}

.discovery-guild .banner {
	width: 215px;
}

.discovery-guild p {
	overflow-wrap: anywhere;
	max-width: 215px;
}

.date-separator {
	padding: 0 7px;
}

.membererror {
	display: inline-block;
	background-color: #656500;
	height: .15in;
	width: .15in;
	border-radius: .1in;
	text-align: center;
	border: solid var(--black) .03in;
	margin-left: .025in;
}
.controls {
	position: absolute;
	top: 0;
	right: 0;
}
.containedFile {
	position: relative;
	width: fit-content;
	box-shadow: .02in .02in .05in var(--black);
	display: inline-block;
}

video {
	max-width: 3in;
	max-height: 4in;
}

.Buttons {
	background-color: var(--primary-bg);
	position: relative;
}
.flexltr {
	display: flex;
	max-height: 100%;
	overflow: auto;
}
.flexttb {
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	overflow: auto;
	align-items: flex-start;
	width: 100%;
}

.settingbuttons {
	padding-top: .075in;
	width: 4in;
	border-right: solid var(--message-bg-hover);
	gap: .04in;
}
.setting {
	background-color: var(--user-info-bg);
	padding: .075in;
	border-radius: .075in;
	box-shadow: 0 0 .1in var(--message-bg-hover);
}
.settingsname {
	font-size: .25in;
	font-weight: bold;
	margin-right: .1in;
}

.profile {
	display: inline-block;
	position: absolute;
	background-color: var(--profile-bg);
	border-radius: 10%;
	padding: .2cm;
	width: 7cm;
	height: 8cm;
	z-index: 5;
}

.hypoprofile {
	display: inline-block;
	background-color: var(--profile-bg);
	border-radius: 10%;
	padding: .2cm;
	width: 7cm;
	height: 8cm;
}

.flexspace {
	gap: .1in;
}
.titlediv {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.settingstitle {
	font-weight: 900;
	font-size: .25in;
	border-bottom: solid var(--message-bg-hover);
	background-color: var(--primary-bg);
	padding: .02in .1in;
}
.exitsettings {
	position: absolute;
	top: .05in;
	right: .05in;
	background-color: var(--channel-hover);
	width: .3in;
	height: .3in;
	display: flex;
	border-radius: 1in;
	justify-content: space-evenly;
	align-items: center;
	font-size: .2in;
	cursor: pointer;
	border: solid .04in var(--black);
}

.tritoggle {
	display: inline-block;
}
.tritoggle input {
	height: .15in;
	width: .15in;
	margin: .015in;
}
.tritoggle:first-child {
	accent-color: green;
}
.tritoggle:last-child {
	accent-color: red;
}

.channelflex {
	flex-shrink: 0;
	width: 2.5in;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: space-between;
}

.messageflex {
	display: flex;
	justify-content: space-between;
	width: 100%;
	overflow-x: hidden;
}

.message-header {
	align-items: center;
}

.userflex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 3px;
}
.userflex p {
	font-size: 15px;
}

.savediv {
	position: absolute;
	background-color: var(--message-bg-hover);
	border: solid var(--black);
	border-radius: .075in;
	padding: .05in .2in;
	display: flex;
	align-items: center;
	right: 50%;
	transform: translate(50%, 0);
	bottom: .1in;
	font-weight: bold;
	font-size: .2in;
	width: 5in;
	height: .5in;
}
.savediv button {
	background-color: green;
}

.flex {
	display: flex;
}
.flex h3 {
	width: fit-content;
}

.pfprow .pfp {
	width: .4in;
	height: .4in;
	margin-top: 3px;
}

.messagediv .flexltr {
	display: flex;
	flex-wrap: wrap;
	max-height: 100in;
	overflow: hidden !important;
}

.messagediv .flexttb {
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: column;
	max-height: 100in;
}


.actionrow {
	display: flex;
	flex-wrap: wrap;
}
.actionrow button {
	border-radius: 5px;
	margin: 4px 8px 4px 0;
	padding: 8px 16px;
	font-size: 14px;
	border: none;
	color: var(--white);
	transition: .2s;
	max-height: 32px;
}
.actionrow button.b-primary {
	background-color: #5865f2;
}
.actionrow button.b-secondary, .actionrow button.b-url {
	background-color: #4e5058;
}
.actionrow button.b-success {
	background-color: #248045;
}
.actionrow button.b-danger {
	background-color: #da373c;
}

.actionrow button, .actionrow button a, .actionrow button:not(.select) span {
	color: #fff;
}

.actionrow button.b-url {
	display: flex;
}
.actionrow button.b-url svg {
	margin-left: 5px;
}

.actionrow button.b-url a {
	text-decoration: none;
}
.actionrow button.b-url:disabled a {
	pointer-events: none;
}

.actionrow button:hover, .actionrow button:focus {
	opacity: .8;
}

.actionrow button:disabled {
	opacity: .5;
	cursor: not-allowed;
}

.actionrow .select {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	margin: 0 16px 0 0;
	background-color: var(--select-bg);
	color: var(--select-color);
	border: 1px solid var(--select-border);
	width: 400px;
}

.actionrow .select div {
	display: flex;
	align-items: center;
}

#connection-container, #app-list-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	max-width: 700px;
}

#connection-container div, #app-list-container div {
	padding: 5px 10px;
	border-radius: 5px;
	background-color: var(--textarea-bg);
	cursor: pointer;
}
#connection-container .disabled {
	background-color: var(--embed-fallback);
	cursor: not-allowed;
}

.reaction {
	padding: 1px 8px;
	border-radius: 5px;
	border: 2px solid var(--light-border);
	background-color: var(--code-bg);
}
.reaction.me {
	border: 2px solid var(--mention-color);
	background-color: var(--mention-bg);
}

.reaction span {
	font-size: 13px;
}

#typebox[contenteditable=false] {
	cursor: not-allowed;
}
#typebox[contenteditable=false]:before {
	content: "You can't chat here";
	color: color-mix(in hsl, var(--primary-bg), var(--primary-text));
}

