:root {
	--servertd-height: 0px;
	/* Default value */
}
.Dark-theme { /* thanks to TomatoCake for the updated CSS vars and such*/
	color-scheme: dark;
	--primary-text: #FFF;
	--primary-bg: #282832;
	--black: #000;
	--message-bg-hover: #1e1e28;
	--typing-bg: #161616;
	--timestamp-color: #a2a2a2;
	--code-bg: #101014;
	--user-info-bg: #323039;
	--user-dock-bg: #1a1a23;
	--channels-bg: #32323c;
	--channel-hover: #1c1b25;
	--blank-bg: #1b1b1b;
	--light-border: #92929B;
	--settings-hover: #0e0d10;
	--quote-bg: #7a798e;
	--button-bg: #1b1b28;
	--textarea-bg: #26272c;
	--filename: #47bbff;
	--mention-bg: #F00;
	--pronouns: #797979;
	--profile-bg: #2e2d33;
	--profile-info-bg: #1a1a1e;
	--server-border: #1b1b24;
	--server-bg: #252530;
	--reply-border: #474b76;
	--reply-bg: #0b0d20;
	--reply-text: #acacac;
	--spoiler-hover: #111111;
	--spoiler-open-bg: #1e1e1e;
	--unknown-file-bg: #141316;
	--unknown-file-border: #474555;
	--login-border: #131315;
	--loading-bg: #22232c;
	--dialog-bg: #33363d;
	--dialog-border: #1c1b31;
	--scrollbar-track: #34313c;
	--scrollbar-thumb: #201f29;
	--scrollbar-thumb-hover: #16161f;
	--embed: #1a1823;
}
.WHITE-theme {
	color-scheme: light;
	--primary-text: #000;
	--primary-bg: #FFF;
	--black: #FFF;
	--message-bg-hover: #dedee2;
	--typing-bg: #dad8d8;
	--timestamp-color: #929297;
	--code-bg: #cbcbcc;
	--user-info-bg: #b0abc2;
	--user-dock-bg: #b2b2c4;
	--channels-bg: #cbcbd8;
	--channel-hover: #b8b5cc;
	--blank-bg: #ceccdd;
	--light-border: #96959e;
	--settings-hover: #b5b1bb;
	--quote-bg: #7a798e;
	--button-bg: #b7b7cc;
	--textarea-bg: #b1b6ce;
	--filename: #47bbff;
	--mention-bg: #F00;
	--pronouns: #6a6a6d;
	--profile-bg: #cacad8;
	--profile-info-bg: #bbbbce;
	--server-border: #bebed3;
	--server-bg: #c0c0d4;
	--reply-border: #b1b2bd;
	--reply-bg: #d4d6e9;
	--reply-text: #2e2e30;
	--spoiler-hover: #b9b9b9;
	--spoiler-open-bg: #dadada;
	--unknown-file-bg: #bdbdbd;
	--unknown-file-border: #adadad;
	--login-border: #c3c0e0;
	--loading-bg: #b5b7cc;
	--dialog-bg: #c1c8d6;
	--dialog-border: #b9b7db;
	--scrollbar-track: #d5d1e2;
	--scrollbar-thumb: #b0afc0;
	--scrollbar-thumb-hover: #a5a5b8;
	--embed: #f2f3f5;
}
.Light-theme {
	color-scheme: light;

	--primary-text: #000;
	--primary-bg: #8e90c3;
	--black: #fff;

	--message-bg-hover: #5757b5;
	--typing-bg: #000000;
	--profile-bg: #8075bf;
	--timestamp-color: #000000;
	--code-bg: #a89adf;
	--info-bg: #6060a3;
	--user-info-bg: #796f9a;
	--user-dock-bg: #83839d;
	--channels-bg: #c2c2d1;
	--channel-hover: #726e88;
	--blank-bg: #5e50c5;
	--light-border: #000000;
	--settings-hover: #b5b1bb;
	--quote-bg: #7a798e;
	--button-bg: #96969e;
	--textarea-bg: #abb1cd;
	--filename: #47bbff;
	--mention-bg: #F00;
	--pronouns: #202020;

	--server-border: #aaaac4;
	--server-hover: #7f7fa8;

	--reply-border: #474b76;
	--reply-bg: #d4d6e9;
	--reply-text: #38383d;

	--spoiler-hover: #34333a;
	--spoiler-open-bg: #767587;

	--unknown-file-bg: #bdbdbd;
	--unknown-file-border: #adadad;

	--login-border: #c3c0e0;
	--loading-bg: #b5b7cc;

	--dialog-bg: #c1c8d6;
	--dialog-border: #b9b7db;

	--scrollbar-track: #d2cedf;
	--scrollbar-thumb: #bdbcca;
	--scrollbar-thumb-hover: #a7a7be;
	--embed: #cdccd1;
}
